<div class="menu">
    <div class="menu-entry menu-logo">NextPex</div>
    <div class="menu-entry menu-link" href="level">Level</div>
    <div class="menu-entry menu-link" href="rank">Rank</div>
    <div class="menu-entry menu-link" href="check">Check</div>
    <div class="menu-entry">Tinaxcraft</div>
</div>